DataExploration.gdb/
Gar_Maps.gdb/
downloadedGDBs/
focusarea/
geodatabases/
ImportLog/
Index/
info/
NA_boundaries/
outputs/
ParksExploration/
RasterFunctionTemplates/
scratch/
zipped/
.Rhistory
complexes.csv
.Rproj.user/
.ipynb_checkpoints/
outputs_backup/
pres2Figs/
reportCards/
RasterFunctionsHistory/
outputCsvs/disturbance_subzones.csv
ElephantHillPark/
